<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.adcrops.demo.customize2"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="net.adcrops.demo.customize2.AdcropsCustomizeDemoActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:value="418" android:name="ADC_MEDIA_SITE_ID"></meta-data>
        <meta-data android:value="5LUZZpEv" android:name="ADC_MEDIA_SITE_KEY"></meta-data>
        <meta-data android:value="true" android:name="ADC_USE_APP_UNIQUE_ID"></meta-data>

        <meta-data android:value="20" android:name="ADC_LIST_COUNT"></meta-data>
        <meta-data android:value="60" android:name="ADC_CONVERSION_TIMER_INTERVAL"></meta-data>
        <meta-data android:value="false" android:name="ADC_USE_INSTALLED_LIST_ITEM"></meta-data>
        <meta-data android:value="false" android:name="ADC_USE_POINT_DISPLAY_ITEM"></meta-data>
        <meta-data android:value="http://d0.adcrops.net" android:name="ADC_INSTALLED_LIST_ITEM_URL"></meta-data>

        <activity android:name="net.adcrops.demo.customize.activity.AdcropsCustomizeDemoViewListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
            </intent-filter>
        </activity>
        <activity android:name="net.adcrops.demo.customize.activity.AdcropsCustomizeDemoDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
            </intent-filter>
        </activity>

    </application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- TODO:Root化チェックの為に使用します。-->
	<!--
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	-->
	<!-- TODO:ADC_USE_APP_UNIQUE_IDがfalseの場合に必要となります。-->
	<!-- 
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	 --> 	
</manifest>
